.vs/
.idea/
Binaries/
Intermediate/
Log/

# will replace when asset manager always logs in one folder
!Experimentengine/src/Engine/System/Log

*.DS_Store

*.sln
*.vcxproj
*.filters
*.user

*.xcworkspace
*.xcodeproj

imgui.ini
