[submodule "ExperimentEngine/Dependencies/GLFW/GLFW"]
	path = ExperimentEngine/Dependencies/GLFW/GLFW
	url = https://github.com/glfw/glfw
[submodule "ExperimentEngine/Dependencies/imgui/imgui"]
	path = ExperimentEngine/Dependencies/imgui/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "ExperimentEngine/Dependencies/glm/glm"]
	path = ExperimentEngine/Dependencies/glm/glm
	url = https://github.com/g-truc/glm
[submodule "ExperimentEngine/Dependencies/yaml-cpp/yaml-cpp"]
	path = ExperimentEngine/Dependencies/yaml-cpp/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
